src/main/mule/escenario_2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto" xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="853ec329-649f-4549-8178-422f24a5d95e" >
		<sftp:connection host="localhost" username="tester" password="password" />
	</sftp:config>
	<crypto:jce-config name="Crypto_Jce" doc:name="Crypto Jce" doc:id="ce951637-8fdd-4220-8eb5-56420af37a98" keystore="C:\Users\Heriberto\AnypointStudio\heri_mule-escenario2\src\main\resources\encKeystore.jceks" type="JCEKS" password="123456" >
		<crypto:jce-key-infos >
			<crypto:jce-symmetric-key-info keyId="AnyKeyID" alias="jksvalue" password="123456" />
		</crypto:jce-key-infos>
	</crypto:jce-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d330d419-ec4f-4da2-bbd0-32eb32635f13" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="d52d80c7-250a-4d04-b60f-61dd3e6a9308" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ab9d2ed7-03d7-432c-a877-87c7337d89b4" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/mule_esc2" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<amqp:config name="AMQP_Config" doc:name="AMQP Config" doc:id="3b4bf401-c3e7-402e-b5f3-853c07b9cb04" >
		<amqp:connection host="localhost" username="guest" password="guest" />
	</amqp:config>
	<flow name="escenario_2Flow" doc:id="833be50c-9bb2-4463-83ee-76eac83fe4ef" >
		<sftp:listener doc:name="On New or Updated File" doc:id="255a6160-953b-4022-9f28-004a9adf14a5" config-ref="SFTP_Config" watermarkEnabled="true" outputMimeType="text/csv" directory="/">
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
			<sftp:matcher filenamePattern="airtravel.csv" />
		</sftp:listener>
		<ee:transform doc:name="Transform Message" doc:id="55e3d833-fd78-4c24-b6c8-6694006c3cdc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="escenario_2Batch_Job" doc:id="421ea1d4-1a7a-49ab-af71-36893a1ea227" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="1bb82196-5b73-4d8d-987e-58c98c023902" >
					<set-variable value='#["/cifrado/AUTO_GEN" ++ random() ++ ".txt"]' doc:name="Set Variable" doc:id="7538feb1-3e5f-454d-9724-86a0c97f0110" variableName="nombre" />
					<try doc:name="Try" doc:id="4cb515e9-aeb5-46ce-b2a1-1d2d61b9691a" >
						<crypto:jce-encrypt doc:name="Jce encrypt" doc:id="72dbbf2d-de2d-4d64-8a83-b800d1a4a96f" config-ref="Crypto_Jce" algorithm="AES" keyId="AnyKeyID">
						<ee:repeatable-file-store-stream inMemorySize="1024" />
					</crypto:jce-encrypt>
						<sftp:write doc:name="Write" doc:id="40365576-fa37-486b-a360-8f264eaa3325" config-ref="SFTP_Config" path="#[vars.nombre]" />
						<error-handler >
							<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="7c1c3e5f-12da-4274-8f8c-5348fe8a903c" type="ANY">
								<ee:transform doc:name="Transform Message" doc:id="d4549813-ee09-4a05-83b4-2cf79ca21df0" >
									<ee:message >
										<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
									</ee:message>
								</ee:transform>
							</on-error-continue>
						</error-handler>
					</try>
					<logger level="INFO" doc:name="Logger" doc:id="80241159-b4c8-40ba-b33a-6d6bf468f46e" message="#[payload]"/>
					<amqp:publish doc:name="Publish" doc:id="294de263-3d5a-4aae-a999-e25766aa0022" config-ref="AMQP_Config" exchangeName="amq.topic">
						<amqp:message >
							<amqp:body ><![CDATA[#[output application/json
---
{
	"filename": vars.nombre
}]]]></amqp:body>
						</amqp:message>
					</amqp:publish>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="f69c3dea-14a2-4598-bae1-0dbd3b8f69ec" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="34341f7b-520b-4dcc-a319-c579a8264f01" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="cbd3c93b-167c-4f0c-aba3-bd59fc3fa2a2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="escenario_2Flow1" doc:id="1ec0c68a-c1b9-4a72-8358-05d9ec341468" >
		<amqp:listener doc:name="Listener" doc:id="ed78eb45-319c-4a77-b792-0b3f345125ae" config-ref="AMQP_Config" queueName="airtravel"/>
		<sftp:read doc:name="Read" doc:id="5e032963-5513-4f3e-a13c-0a45aed936b8" config-ref="SFTP_Config" path="#[payload.filename]" />
		<crypto:jce-decrypt doc:name="Jce decrypt" doc:id="ba215276-42b7-40fe-aa35-c3649ce08ed8" config-ref="Crypto_Jce" algorithm="AES" keyId="AnyKeyID" />
		<ee:transform doc:name="Transform Message" doc:id="e0ccc620-064d-40ad-ac27-62fb1e6365e3">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0

input payload application/octet-stream

output application/json

---

read(payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="37176248-5351-481b-9788-cdaeb24e3958" message="#[payload]"/>
		<try doc:name="Try" doc:id="a8208a1b-3df8-4348-a39a-f95ab5d95389" >
			<db:insert doc:name="Insert" doc:id="7fdadd39-28b0-4417-bb0e-7d5e3eeba096" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO airtravel(mes, year1958, year1959, year1960)
VALUES (:mes, :year1958, :year1959, :year1960)]]></db:sql>
			<db:input-parameters><![CDATA[#[output application/json

---
{
	mes: payload.Month,
	year1958: payload.Y1958,
	year1959: payload.Y1959,
	year1960: payload.Y1960
}]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="31d42d1d-b423-4df9-8427-eeff751e27c8" type="DB:CONNECTIVITY">
					<logger level="INFO" doc:name="Logger" doc:id="d2474d53-a792-4c73-9543-1305bc333341" />
				</on-error-propagate>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a6aa27e1-e402-4c55-aa4a-baaf6710eb0c" type="DB:BAD_SQL_SYNTAX, DB:QUERY_EXECUTION, DB:RETRY_EXHAUSTED, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="06ac72d5-f491-4768-963d-41b182ee34cb" variableName="tupla_mala"/>
					<ee:transform doc:name="Transform Message" doc:id="7cff8b8f-2ca0-4d81-ac18-de8a0ac7a2c4" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": error.description,
	"object": vars.tupla_mala
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<file:write doc:name="Write" doc:id="017518e1-6f8a-447a-ba9d-7fba4cfa31a9" path="C:\Users\Heriberto\AnypointStudio\heri_mule-escenario2\ficheros no procesados\ficheros no procesados.txt" mode="APPEND"/>
				</on-error-continue>
			</error-handler>
		</try>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="09f3b027-c7e2-4fe6-8d0f-dbb5737a8b52" type="SFTP:ACCESS_DENIED, SFTP:CONNECTIVITY, SFTP:FILE_LOCK, SFTP:ILLEGAL_PATH, SFTP:RETRY_EXHAUSTED">
				<logger level="INFO" doc:name="Logger" doc:id="9ebd8af0-2b37-4ec6-ab0e-7e09e8ee2528" message="#[payload]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
